#student {
  width: 30px;
  height: 30px;
  min-height: 30px;
  margin: 10px;

  background-color: #29e;
  color: white;

  border-radius: 5px;
  padding: 4%;

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

#drag-me::before {
  content: "#" attr(id);
  font-weight: bold;
}
